*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    background: #98e4c2c1;
    padding: 5px;
}
h2{
    text-decoration: underline;
}
p{
    font-size: 18px;
}
#article2{
    width: 90%;
    margin: auto;
    
}
.subdata{
    background: #a2f7867b;
    padding: 30px;
}
#AlertInput,#inputdataPrompt{
    width: 60%;
    height: 50px;
    border-radius: 20px ;
    font-size: 20px;
    padding: 5px;
    background-color: yellow;
    box-shadow: 5px 5px 4px green;
}

input[type=button]{
    width: 90px;
    height: 50px;
    color: white;
    font-size: large;
    background: #3b076f;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(20, 19, 20, 0.833);
}
#ConfirmData,#PromptData{
    width: 35%;
    margin: 30px;
    font-size: large;
    margin-left: 60px;
    /* border: 1px solid black; */
}
.divborder{
    border: 2px solid black;
    background: #fff;
    box-shadow: 5px 5px 2px grey;
    height: 13vh;
}
label{
    font-size: large;
    margin: 8px;
}
#seemore a{
    background: #07216a;
    
    color: #fff;
    padding: 2px;
    }